body {
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(296deg,
      hsl(270deg 100% 7%) 0%,
      hsl(227deg 5% 23%) 5%,
      hsl(172deg 3% 31%) 10%,
      hsl(138deg 3% 38%) 15%,
      hsl(125deg 3% 43%) 20%,
      hsl(118deg 4% 48%) 25%,
      hsl(114deg 4% 53%) 30%,
      hsl(111deg 6% 57%) 35%,
      hsl(109deg 7% 61%) 40%,
      hsl(108deg 8% 64%) 45%,
      hsl(107deg 10% 67%) 50%,
      hsl(107deg 12% 71%) 55%,
      hsl(106deg 14% 74%) 60%,
      hsl(106deg 17% 77%) 65%,
      hsl(105deg 20% 80%) 70%,
      hsl(105deg 24% 82%) 75%,
      hsl(105deg 30% 85%) 80%,
      hsl(104deg 37% 88%) 85%,
      hsl(104deg 48% 90%) 90%,
      hsl(104deg 66% 93%) 95%,
      hsl(104deg 100% 95%) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  opacity: 0.95;
  background-color: rgba(255, 255, 255, 0.9);
  color: #555555;
  border-radius: 15px;
  box-shadow: 0 40px 60px #555555;
  padding: 25px;
}

h1 {
  font-family: 'Karla', sans-serif;
  text-shadow: 1px 0px #000000;
  text-align: center;
  margin-bottom: 10px;
}

.password-len {
  width: 95%;
  padding: 6px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.password-len:focus {
  border-color: #5EE7DF;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(94, 231, 223, 0.3);
}

.character-types-container-col1,
.character-types-container-col2 {
  margin-left: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.checkbox-label {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.checkbox-input {
  margin-right: 5px;
}